extends ../layouts/layout

block content
  h1= contentCategory.title
  .b-content-category-description!= contentCategory.description

  if contents
    .card-deck
    each content in contents
      .card.bg-light.mb-3.border-primary
        .card-img-top.card-header 286x180
        .card-body
          h5.card-title= content.title
          .card-text!= content.description
