extends ../../layouts/admin

include ../mixins/errors

block content
  h1 New content category

  if messages.error
    +printErrors(messages.error)

  form.l-admin-page-form(action=adminRoutes.createContentCategoryPath() method='POST' enctype='multipart/form-data')
    .form-group.l-admin-page-form-row
      label.col-form-label.l-admin-page-form-label Thumbnail
      .l-admin-page-form-input-wrapper
        input.form-control(type='file' name='thumbnail')

    .form-group.l-admin-page-form-row
      label.col-form-label.l-admin-page-form-label(for='b-content-category-title') Title
      .l-admin-page-form-input-wrapper
        input.form-control#b-content-category-title(type='text' name='title' value=`${params.title || ''}`)

    .form-group.l-admin-page-form-row
      label.col-form-label.l-admin-page-form-label(for='b-content-category-published') Published
      .l-admin-page-form-input-wrapper
        input.form-control#b-content-category-published(type='checkbox' name='published' value='true' checked)

    .form-group.l-admin-page-form-row
      label.col-form-label.l-admin-page-form-label(for='b-content-category-featured') Featured
      .l-admin-page-form-input-wrapper
        input.form-control#b-content-category-featured(type='checkbox' name='featured' value='true' checked)

    .form-group.l-admin-page-form-row
      label.col-form-label.l-admin-page-form-label(for='b-content-category-short-description') Short description
      .l-admin-page-form-input-wrapper
        textarea.form-control.b-reach-text-editor#b-content-category-short-description(type='text' name='shortDescription')= params.shortDescription

    .form-group.l-admin-page-form-row
      label.col-form-label.l-admin-page-form-label(for='b-content-category-description') Description
      .l-admin-page-form-input-wrapper
        textarea.form-control.b-reach-text-editor#b-content-category-description(type='text' name='description')= params.description

    .form-group.l-admin-page-form-row
      button.btn.btn-success(type='submit') Save
