mixin contentCategorySelect(contentCategories, selectedValue = null)
  select.l-content-categories-select.form-control(name='contentCategoryId')
    each contentCategory in contentCategories
      option(value=`${contentCategory.id}` selected=(contentCategory.id == selectedValue))= contentCategory.title
