extends ../layouts/layout

block content
  h1 Test
  if users
    ul
      each user in users
        li
          p= user.firstname
          p= user.lastname
          p= user.email
          form(method='POST' action=`/users/${user.id}`)
            input(type='submit' name='Delete' value='Delete' onClick="return confirm('Are you sure you want to delete?')") 
            input(type='hidden' name='_method' value='DELETE')
