extends ../layouts/layout

block content
  h1 new
  form(method='POST' action='/users')
    label First name
    input(type='text' name='firstname')
      
    label Last name
    input(type='text' name='lastname')
      
    label email
    input(type='text' name='email')
      
    button(type='submit') Save
