extends ../layouts/error

block title
  title 404 Page not found

block content
  #notfound
    .notfound
      .notfound-404
        h3 Oops! Page not found
        h1
          span 4
          span 0
          span 4

      h2 we are sorry, but the page you requested was not found
      a.b-error-page-go-home(href='/') Go to home page
