doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Authentification
    link(rel='stylesheet', href='/stylesheets/admin_authentification.css')

  body
    main.l-authentification-page
      block content

  script(src='/javascripts/admin_authentification.js')
