doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    header.l-page-header
      nav.h-page-navigation.navbar.navbar-expand-md.navbar-light.fixed-top
        .container
          a.navbar-brand(href='/') Logo

          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#b-page-navigation', aria-controls='b-page-navigation')
            span(class='navbar-toggler-icon')

          .collapse.navbar-collapse#b-page-navigation
            ul.navbar-nav.mr-auto.justify-content-md-center
              li.nav-item.active
                a.nav-link(href='/about') About

              if contentCategories
                li.nav-item.dropdown
                  a.nav-link.dropdown-toggle#l-page-contents-dropdown(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Content categories
                  .dropdown-menu(aria-labelledby='l-page-contents-dropdown')
                    each contentCategory in contentCategories
                      a.dropdown-item(href=`/content-categories/${contentCategory.id}`)= contentCategory.title

              li.nav-item
                a.nav-link(href='/policy-and-privacy') Policy and Privacy

              li.nav-item
                a.nav-link(href='/contacts') Contacts

    main.l-page-content
      section.l-page-big-logo

      block content

  script(src='/javascripts/app.js')
